
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Please insert your card and click on on button below!</h2>
<button onclick="location.href='@Url.Action("CardInserted", "Login")';return false;">Inserted</button>





